@import '../styles/variables.css';

.voteContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: var(--color-background);
    color: var(--color-text-primary);

    padding-top: 4rem;

}

.voteContainer h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.teamOption {
    display: flex;
    align-items: center;
    background: var(--color-background);
    padding: 12px 18px;
    width: 80%;
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-text-primary);
    border: 1px solid var(--color-highlight);
    margin-bottom: 10px;
}

.teamOption:hover {
    background: var(--color-highlight);
    transform: scale(1.05);
}

.teamName {
    color: var(--color-accent);
}

input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-accent);
    border-radius: 50%;
    margin-right: 12px;
    position: relative;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: var(--color-accent);
}

.voteContainer button {
    padding: 16px 16px;
    background-color: var(--color-highlight);
    color: var(--color-text-primary);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.5rem;  
    transition: background-color 0.5s ease;
    max-width: 300px;
    margin: 0 auto;
}

.voteContainer button:disabled {
    background-color: var(--color-text-secondary);
    cursor: not-allowed;
}

.voteContainer button:hover:not(:disabled) {
    background-color: var(--color-accent);
}


@media (max-width: 916px) {
    .voteContainer h1 {
        font-size: 1.6rem;
    }
}