@import url(../styles/variables.css);

.menuLinks {
    position: absolute;
    top: 4.6875rem;
    left: 0;
    width: 100%;
    background-color: var(--color-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
}

.menuLinks_open {
    max-height: 500px;
    pointer-events: auto;
    z-index: 1;
}

.menuLinks ul {
    list-style: none;
    padding: 0px;
}

.menuLinks li {
    border-bottom: 1px solid var(--color-premium);
    padding: 4px;
}

.menuLinks li:last-child {
    border-bottom: none; 
}

.menuLinks a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 12px 20px;
    display: flex;
}

.menuLinks li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    filter: invert(1);
    margin: 0;
}

.votingIcon {
    margin-left: 10px;
    width: 20px; 
    height: 20px; 
    filter: invert(1);
}

@media (min-width: 769px) {
    .menuButton {
        display: none;
    }
}