@import url(../styles/variables.css);

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav_logo {
    width: 50px;
    height: 20px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .nav_links,
    .nav_voting {
        display: none;
    }
}