@import url(../styles/variables.css);

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-background);
    z-index: 10;
}

.nav_logo {
    width: 50px;
    height: 20px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav_link {
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

.votingIcon {
    margin-left: 10px;
    width: 20px; 
    height: 20px; 
    filter: invert(1);
}

.favoriteTeam{
    color: var(--color-text-primary);
    font-size: 1rem; 
    font-weight: bold; 
    position: absolute; 
    right: 1rem;
    color: var(--color-text-primary);
}


@media (max-width: 916px) {
    .nav_links {
        display: none;
    }

    .favoriteTeam{
        position: static; 
        margin: 0 auto;
        text-align: center;
    }
    

}